#!/usr/bin/make -f

#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


#sed -i "/dependency_libs/ s/'.*'/''/"
#"$(CURDIR)/debian/usr/lib/x86_64-linux-gnu/libsmb2.la"
